    <div align="center" class="footer">
        <a href="{{ site.baseurl }}" target="_blank" title="SecLab">SecLab <a href="https://github.com/ariestiyansyah/naringu" target="_blank"  title="naringu">Theme</a> modified by <a href="https://github.com/matheuslaidler" target="_blank" title="GitHub">Laidler</a> and designed by <a href="https://github.com/ariestiyansyah/" target="_blank" title="GitHub">Ariestiyansyah </a>
        <br />Copyright © {{ site.time | date: '%Y' }} | Todos os direitos reservados<br>
    </div>
  </body>
</html>
